
body {
    font-family: arial;
    height: 100vh;
    margin: 0;
    display:flex; 
    flex-direction:column;
    background: #255957;
    
}


.header {
    display: flex;
    justify-content: center;
    padding: 50px;
    background: #437C90;
    color: white;
    font-size: xx-large;
    font-weight: 900;
}

#choices {
    display: flex;
    gap: 100px;
    padding: 100px;
    justify-content: center;
    background: #255957;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 200px;
    background-color: #F7C548;
    border: solid;
    border-color: #EEEBD3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
    transition: 5s;
    
}

.card-title{
    margin: 0;
    padding: 31px;
    background-color: #A98743;
}

#player-choice {
    margin-top: 20px;
}

#computer-choice {
    margin-top: 20px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    background: #255957;
   
}

.score {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    background-color: #255957;
    color: white;
    font-size: large;
    font-weight: 900;
    
}


.footer{
    display: flex;
    background-color: #437C90;;
    margin-top: auto;
    justify-content: center;
}